body {
    background-color: rgb(50,50,50);
}

.board {
    display: flex;
    flex-wrap: wrap;
    max-width: 804px;
    margin: auto;
    margin-top: 20px;
    position: relative;
}

.recommendedMove {
    display: block;
    border: 1px solid rgb(150,150,150);
    background-color: rgb(150,150,150);
    width: fit-content;
    padding: 10px 15px;
    margin: auto;
    margin-top: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    border-radius: 10px;
    transition: .2s;
}

.recommendedMove:hover {
    cursor: pointer;
    background-color: rgb(225,225,225);
}

.gameOver {
    margin: auto;
    position: absolute;
    left: 50%;
    top:30%;
    transform:translate(-50%,-50%);
    background-color: rgba(255,255,255,0.9);
    padding: 10px 300px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.gameOver h1 {
    text-align: center;
    padding: 20px;
    text-transform: uppercase;
}

.gameOver h2 {
    text-align: center;
    text-transform: uppercase;
}

.gameOver .buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.buttons .button {
    display: block;
    width: fit-content;
    padding: 10px 20px;
    border: 1px solid rgb(100,100,100);
    margin: 40px 20px;
}

.buttons .button:hover {
    cursor: pointer;
    background-color: rgb(100,100,100);
}

.capturedBlackPieces {
    display: flex;
    flex-direction: column;
    justify-content: end;
    position: absolute;
    left: 99.5%;
    top: 0;
    width: 30px;
    height: 100%;
}

.capturedWhitePieces {
    display: flex;
    flex-direction: column;
    justify-content: start;
    position: absolute;
    right: 100%;
    top: 0;
    width: 30px;
    height: 100%;
}

.miniBlackPawn {
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('/static/images/black_pawn.png');
}

.miniBlackKnight {
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('/static/images/black_knight.png');
}

.miniBlackBishop {
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('/static/images/black_bishop.png');
}


.miniBlackRook {
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('/static/images/black_rook.png');
}


.miniBlackQueen {
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('/static/images/black_queen.png');
}


.miniWhitePawn {
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('/static/images/white_pawn.png');
}
.miniWhiteBishop {
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('/static/images/white_bishop.png');
}

.miniWhiteKnight {
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('/static/images/white_knight.png');
}

.miniWhiteRook {
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('/static/images/white_rook.png');
}

.miniWhiteQueen {
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('/static/images/white_queen.png');
}