
.square {
    width: 100px;
    height: 100px;
    position: relative;
}

.square.dark {
    background-color: #6c3d19;
}

.square.light {
    background-color: #f4e5cb;
}

.square.selected {
    background-color: navy;
}

.square.active {
    background-color: navy;
}
.square.active:hover {
    cursor: pointer;
    background-color: rgb(32, 32, 154) !important;
}
.square.dark.hoverable:hover {
    cursor: pointer;
    background-color: rgb(119, 44, 12);
}

.square.light.hoverable:hover {
    cursor: pointer;
    background-color: rgb(228, 215, 186);
}

.square.selected:hover {
    cursor: pointer;
    background-color: rgb(32, 32, 154) !important;
}

.square.white.pawn::after{
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-52%, -50%);
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('/static/images/white_pawn.png');
}

.square.white.knight::after{
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-52%, -50%);
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('/static/images/white_knight.png');
}

.square.white.bishop::after{
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-52%, -50%);
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('/static/images/white_bishop.png');
}

.square.white.rook::after{
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-52%, -50%);
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('/static/images/white_rook.png');
}

.square.white.queen::after{
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-52%, -50%);
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('/static/images/white_queen.png');
}

.square.white.king::after{
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-52%, -50%);
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('/static/images/white_king.png');
}

.square.black.pawn::after{
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-52%, -50%);
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('/static/images/black_pawn.png');
}

.square.black.knight::after{
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-52%, -50%);
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('/static/images/black_knight.png');
}

.square.black.bishop::after{
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-52%, -50%);
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('/static/images/black_bishop.png');
}

.square.black.rook::after{
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-52%, -50%);
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('/static/images/black_rook.png');
}

.square.black.queen::after{
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('/static/images/black_queen.png');
}

.square.black.king::after{
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-52%, -50%);
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('/static/images/black_king.png');
}



.square.move::after {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: rgb(31, 31, 174);
}

.square.castle::after {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: rgb(31, 174, 105);
}

.square.castle:hover {
    cursor: pointer;
}

.square.castle:hover::after {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: rgb(45, 210, 130);
}

.square.capture::before {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: rgb(174, 31, 52);
    z-index: 999;
}

.square.capture:hover {
    cursor: pointer;
}

.square.capture:hover::before {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: rgb(192, 49, 71);
    z-index: 999;
}

.square.move:hover {
    cursor: pointer;
}

.square.move:hover::after {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: rgb(67, 67, 205);
}

.newComp {
    background-color:aqua !important;
}

.prevComp {
    background-color: aquamarine !important;
}

.square.check{
    background-color: rgb(255, 115, 0)
}

.square.checkmate {
    background-color: red;
}

.square.checkmate:hover{
    background-color: rgb(222, 67, 67) !important;
}

.square.check:hover {
    background-color: rgb(217, 121, 42) !important;
}